// Primary Color
$darkMagenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);

// Secondary Color
$darkGrayMagenta: hsl(303, 10%, 53%);
$lightGrayMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Media Queries
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 1024px)';
$break-xl: '(min-width: 1440px';
